
.alpha-logo
{
    width: 15%;
    
}

.alpha-pic
{
    display: grid;
    grid-template-columns: auto auto;
}

#phone
{
    width: 33%;
}

.two-grid
{
    display: grid;
    grid-template-columns: auto auto;
}

#alpha-wardrobe
{
    font-size: 35px;
 margin-top: 40%;
 margin-left: -40%;
}

@media screen and (max-width:900px) {

    #alpha-wardrobe
    {
        font-size: 30px;
     margin-top: 30%;
     margin-left: -30%;
    }

}





@media screen and (max-width:700px) {


    .alpha-logo
    {
        width: 25%;
    }
    

.alpha-pic
{
    display: block;
    grid-template-columns: auto ;
}

#phone
{
    width: 80%;
   
   margin-left: 10%;
}

#alpha-wardrobe
{
    font-size: 25px;
    margin-left: 15%;
    margin-top: 3%;
}

    
}





@media screen and (max-width:450px) {

    #alpha-wardrobe
    {
        font-size: 15px;
        margin-top: 3%;
     margin-left: 15%;
    }

}



@media screen and (max-width:350px) {


    
}